html,
body {
  line-height: 1 !important;
  width: 100%;
  min-height: 100%;
  background-color: #F3F5F6 !important;
  font-size: 14px;
  font-family: "微软雅黑", Verdana, Arial, Helvetica, sans-serif;
}
.header {
  background-color: #fafafa;
}
header {
  position: fixed;
  top: -2px;
  height: 66px;
  left: 0;
  right: 0;
  z-index: 998;
  background-size: 100% 100%;
  background-color: #0284DA;
  background-blend-mode: lighten;
}
div,
p,
span,
li,
tr,
td,
th,
input,
a {
  color: #495060;
}
/* 内容容器 */
.appContainer {
  padding: 70px 20px 20px 20px;
}
/*定义滚动条轨道 内阴影+圆角*/
.disturb-proportion::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #80848F;
  border-radius: 10px;
  background-color: #495060;
}
.disturb-proportion::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #1C2437;
  background-color: #1C2437;
}
.boxShadowBlue {
  box-shadow: 4px 4px 20px #0284DA;
}
.boxShadowGreen {
  box-shadow: 4px 4px 20px #0284DA;
}
/*清除浮动*/
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
.overY {
  overflow-y: scroll;
}
.overX {
  overflow-x: scroll;
}
.esri-popup__main-container header {
  height: 40px !important;
  background-color: transparent !important;
}
.esri-popup__feature-butto,
.esri-popup__feature-buttons {
  display: none !important;
}
